*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* sheard styles */
.btn{
    text-align: center;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: #117a3db4;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}


/* navigation styles */
nav{
    width: 82%;
    max-width: 1516px;
    margin: 14px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
nav li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
nav li a{
    text-decoration: none;
    color: #000000;
}
/* header styles */
#banner{
    margin-top: 0;
    text-align: center;
    background-image: url(../assets/hero-bg.png);
    width: full;
    background-size: cover;
    background-position: center;
    
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 110px 50px 180px;
}
.banner-content .btn-2{
    text-align: center;
    margin-left: 16px;
        padding: 12px 16px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        background-color: transparent;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
}

#banner .banner-title{
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;

}
#banner .banner-title .title-green{
    color: #00ffa3;
}
#banner p{
    
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 1.5;
}