*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


.btn:hover{
    background-color: #00c1f1b4;
    color: #000000;
}

.btn{
    text-align: center;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: #117a3db4;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}



nav{
    width: 82%;
    max-width: 1516px;
    margin: 14px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
nav li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
nav li a{
    text-decoration: none;
    color: #000000;
}

#banner{
    margin-top: 0;
    text-align: center;
    background-image: url(../assets/hero-bg.png);
    width: full;
    background-size: cover;
    background-position: center;
    
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 110px 50px 180px;
}
.banner-content .btn-2:hover{
    background-color: #ffffff;
    color: #000000;
}
.banner-content .btn-2{
    text-align: center;
    margin-left: 16px;
        padding: 12px 16px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        background-color: transparent;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
}

#banner .banner-title{
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;

}
#banner .banner-title .title-green{
    color: #00ffa3;
}
#banner p{
    
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 1.5;
}


.container{
    width: 82%;
    max-width: 1516px;
    margin: 14px auto 0;
    margin: 0 auto;
    text-align: center;
}

#notes .notes-title{
    padding-top: 50px;
}
#notes .notes-title h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #001931;
}
#notes .notes-title p{
    font-size: 14px;
    color: #4f4f4f;
    margin-bottom: 40px;
    line-height: 1.5;
}

#notes .cards{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 100px;
    
}
.notes-card{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(7, 7, 7, 0.1);
    border-radius: 10px;
    padding: 20px 40px;
    text-align: center;
}

#notes .notes-card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 15px;
}
#notes .notes-card h4{
    padding-top: 20px;
        font-size: 20px;
        font-weight: 600;
        color: #001931;
}
#notes .notes-card p{
    font-size: 14px;
    color: #4f4f4f;
    margin-top: 12px;
    
}

#solution{
    display: flex;
    align-items: left;
}
#solution .solution-content{
    text-align: left;
    padding: 120px 50px;
    max-width: 600px;
}
#solution .solution-content .green{
    color: #1c8f65;
    margin-bottom: 16px;
}
#solution .solution-content h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
#solution .solution-content .solution-details{
    font-size: 14px;
    color: #4f4f4f;
    margin-bottom: 32px;
    line-height: 1.5;
}
#solution .solution-content .solved{
    margin-bottom: 10px;
}

#thinking{
    background-color: #f9f9f9;
    padding: 80px 0;
    margin-top: 120px;
}

#thinking .think-content h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
#thinking .think-content .think-detail{
    font-size: 14px;
    text-align: center;
    color: #4f4f4f;
        max-width: 600px;
        margin: 0 auto;
        padding: 0px 40px 24px;
}
#thinking .think-content .think-list{
    color: #4f4f4f;
    margin: 10px 0;
}

.footer{
        background-color: #001931;
        margin-top: 120px;
        padding: 120px;
        padding-bottom: 0px;
        color: #ffffff;
        text-align: center;
}
#footer-container{
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
}
#footer-container.footer-logo img{
    margin-left: 50px;
}
#footer-container .social p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
#footer-container .social div {
    align-items: left;
    font-size: 18px;
    margin: 0 ;
    cursor: pointer;
}
#footer-container .social div i:hover{
    background-color: #00f7ff;
    color: #000000;
}
footer hr{
    color: #201e1e;
    margin-bottom: 30px;
}